{{page-title "Delete"}}
<div class="ui segment">
  <button {{ action 'saveDeletions' @section }} class="ui button">Confirmer la suppression</button>
  <LinkTo @route="sections" class="ui button">
    Annuler
  </LinkTo>
</div>
{{outlet}}