{{page-title "Delete"}}
<div class="ui segment">
  <h4 class="ui dividing header">Supprimer une section</h4>
  <button {{ action 'saveDeletions' @model }} class="ui button">Confirmer la suppression</button>
  <LinkTo @route="sections" class="ui button">
    Annuler
  </LinkTo>
</div>
{{outlet}}