{{page-title "Board"}}

<p>
  Nom de l'utilisateur : {{ @model.name }}
</p>

<button {{ action "logout" }} type="submit" class="btn btn-primary">Deconnecter</button>

liste des orders
order?include=employee


{{outlet}}